@import "tailwindcss";

@theme {
  --color-primary: #FF5F1F;
  --color-secondary: #1A1A1A;
  --color-background: #000000;
  --color-surface: #0F0F0F;
  --color-text: #FFFFFF;
  --color-text-muted: #A1A1A1;

  --font-sans: 'Inter', sans-serif;

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 9999px;
}